<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="track-time">
      <!-- <ion-icon name="triangle"></ion-icon> -->
      <ion-label>Booking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" >
      <!-- <ion-icon name="ellipse"></ion-icon> -->
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <!-- <ion-icon name="square"></ion-icon> -->
      <ion-label>Chat</ion-label>
    </ion-tab-button>
  <ion-tab-button tab="account">
    <!-- <ion-icon name="square"></ion-icon> -->
    <ion-label>Account</ion-label>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
